* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list-item {
  margin-bottom: 50px;
}

.list:nth-child(odd) {
  background-color: gray;
}

.list {
  padding: 20px;
  list-style: none;
}

.box-item {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: yellow;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
  background-color: orange;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  margin-right: 0;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  margin-bottom: 0;
}
